<div class="sidenav" [ngClass]="[collapsed ?  'sidenav-collapsed' : '', sidenavHidden ? 'sidenav-hidden' : '' ]">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapsed()">
            <img src="../../../assets/images/logo.png" class="logo-img" alt="">
        </button>
        <button class="btn-close" *ngIf="collapsed" (click)="closeCollapsed()">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <div class="sidenav-dashboard-list">
        <ul class="sidenav-nav nav-data">
            <li class="sidenav-nav-item" *ngFor="let item of navData" [id]="item.label">
                <a href="#" [title]="item.label" class="sidenav-nav-link"
                 [routerLink]="[item.routerLink]" routerLinkActive="router-link-active"
                 (click)="closeSideNavCollapsed($event)"  *ngIf="isAllowRol(currentUser.user.Perfil.descripcion, item.roles, item.label)">
                    <mat-icon class="sidenav-link-icon">{{item.icon}}</mat-icon>
                    <span class="sidenav-link-text">{{item.label}}</span>
                </a>
            </li>
        </ul>
        <div class="sidenav-user-container">
            <div class="sidenav-user" *ngIf="currentUser">
                <ul class="sidenav-nav">
                    <li class="sidenav-nav-item">
                        <div class="user-information" (click)="toggleCollapsed()" title="Usuario conectado">
                            <mat-icon class="sidenav-link-icon account-icon">account_circle</mat-icon>
                            <div class="sidenav-user-name sidenav-link-text">
                                {{getUserFullName()}} <br>
                                <p class="user-profile">{{currentUser.user.Perfil.descripcion}}</p>
                            </div>
                        </div>
                    </li>
                    <li class="sidenav-nav-item">
                        <a href="#" class="sidenav-nav-link logout" (click)="Logout()">
                            <mat-icon class="sidenav-link-icon">logout</mat-icon>
                            <span class="sidenav-link-text">Cerrar Sesión</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="menu-responsive flexbox">
    <img src="../../../assets/images/logo.png" class="logo-img" alt="">
    <mat-icon class="menu-icon" (click)="openMenu()">menu</mat-icon>
</div>