<div class="sidenav" [ngClass]="collapsed ?  'sidenav-collapsed' : '' ">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapsed()">
            <img src="../../../assets/images/logo.png" class="logo-img" alt="">
        </button>
        <button class="btn-close" *ngIf="collapsed" (click)="closeCollapsed()">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let item of navData">
            <a href="" class="sidenav-nav-link" [routerLink]="[item.routerLink]" routerLinkActive="router-link-active" >
                <mat-icon class="sidenav-link-icon">{{item.icon}}</mat-icon>
                <span class="sidenav-link-text" *ngIf="collapsed">{{item.label}}</span>
            </a>
        </li>
    </ul>
</div>
