.full-width-table {
  width: 100%;
}

.product-data{
  justify-content: flex-start;
}

.product-data p {
  margin: .25rem .5rem;
}
.role-container{
  box-shadow: inset 0 0 10px #000;
}

.role{
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
