<div class="background-pattern"></div>
<div class="login-container flexbox">
  <form [formGroup]="formulario" (ngSubmit)="submitForm()" novalidate>
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title class="login-title">¡Iniciar Sesión!</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width" hideRequiredMarker>
              <mat-label>Correo</mat-label>
              <input matInput type="text" placeholder="Email usuario" formControlName="email" />
              <mat-error *ngIf="errorHandling('email', 'required')">
                El correo es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="errorHandling('email','email')">
                Verifique el <strong>formato</strong> del email
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width" hideRequiredMarker>
              <mat-label>Contraseña</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password usuario"
                formControlName="password" />
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="errorHandling('password', 'required')">
                La contraseña es <strong>requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Login</button>
        <button mat-raised-button color="accent" type="reset" (click)="onReset()">Cancelar</button>
      </mat-card-actions>
    </mat-card>
  </form>
  <div class="other-options">
    <hr class="line">
    <span class="or">O</span>
    <hr class="line">
  </div>
  <div class="social-login-container flexbox"></div>
</div>