.pedido-detail{
  flex-wrap: wrap;
}

.pedido-detail-table, .pedido-detail-cliente, .pedido-select-cliente{
  position: relative;
  background-color: #171717;
  border-radius: .5rem;
  padding: 1rem 3rem;
  margin: .75rem;
  text-align: center;
  height: 250px;
  width: fit-content
}

.pedido-detail-table{
  flex-direction: column;
}

.pedido-detail-table-content{
  position: relative;
}

.table-icon{
  height: 150px;
}

.user-logo .user-icon{
  color: white;
  font-size: 4rem;
  margin: 0 .5rem;
}

.table-diners-information {
  top: 46.5% !important;
  transform: scale(.8);
}

.pedido-select-cliente{
  flex-direction: column;
  text-align: center;
  margin: 0 3rem;
}

.pedido-select-cliente h2{
  margin: .5rem 0;
}

.actions-group{
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}

.actions-group .button{
  background-color: #000;
  color: #fff;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.actions-group .button span{
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions-group .button:nth-child(1){
  background-color: #00E154;
}

.actions-group .button:nth-child(2){
  background-color: #fff;
  color: #000;
}

.actions-group .button:nth-child(3){
  background-color: #FE0202;
  color: #fff;
}

/* default styles */
.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
  background: #000;
  border-radius: 1rem;
}
.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.product-filter-container{
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.product-filter{
  background: #171717;
  border-radius: .5rem;
  padding: 1rem;
  color: #fff;
  width: 250px;
  margin: 0 auto;
  margin: 1.5rem 0;
}

.filter-seatch{
  position: absolute;
  color: #fff;
  right: .5rem;
}

.producto-action{
  position: relative;
}

.producto-action .actions{
  font-size: 2.5rem;
  box-shadow: inset 0 0 15px #000;
  background-color: rgba(0, 225, 84, .6);
  padding: .5rem;
  cursor: pointer;
  margin: 0 auto;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  transition: .35s;
}

.producto-action .actions:hover{
  transform: scale(1.05);
}

@media screen and (min-width: 992px) {
  .pedido-select-cliente{
    width: 600px;
  }
}