.cart-btn{
  position: fixed;
  right: 1.5rem;
  cursor: pointer;
  z-index: 1000;
}

.cart-btn .cart-icon{
  color: #fff;
  font-size: 2rem;
}

.cart-data{
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: #940000;
  box-shadow: inset 0 0 15px #000;
  z-index: 10000;
  transition: .5s;
  overflow-y: scroll;
}

.show-card-data{
  right: 0;
}

.cart-close-icon{
  position: absolute;
  font-size: 2rem;
  top: 1rem;
  right: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.cart-data-content{
  position: relative;
  margin-top: 6rem;
  flex-direction: column;
}

.cart-item{
  margin-top: 2rem;
  width: 90%;
  background-color: #171717;
  box-shadow: 0 0 15px #000;
  border-radius: .5rem;
  flex-direction: column;
  overflow: hidden;
}


.cart-item-description,
.cart-item-qty{
  font-size: 1.1rem;
  color: #fff;
  font-weight: bold;
}

.cart-item-img{
  height: 200px;
}

.cart-item-actions{
  background-color: #940000;
  box-shadow: inset 0 0 15px #000;
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.cart-item-actions .cart-actions-icon{
  color: #fff;
  font-size: 2rem;
  transition: .5s;
  margin: 0 1rem;
}

.cart-item-actions .cart-actions-icon:hover{
  transform: scale(1.05);
}


.add-notes{
  width: 100%;
  box-shadow: inset 0 0 15px #000;
  padding: 1rem;
  font-weight: bold;
}

.cart-total{
  width: 100%;
  position: relative;
  margin-top: 6rem;
  bottom: 0;
  left: 0;
  background-color: #171717;
  box-shadow: inset 0 0 10px #000;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

.cart-total .total{
  color: #fff;
  font-size: 1.2rem;
}

.pedido-detail{
  flex-wrap: wrap;
}

.pedido-detail-table, .pedido-detail-cliente, .pedido-select-cliente{
  position: relative;
  background-color: #171717;
  border-radius: .5rem;
  padding: 1rem 3rem;
  margin: .75rem;
  text-align: center;
  height: 250px;
  width: fit-content;
}

.pedido-detail-table{
  flex-direction: column;
}

.pedido-detail-table-content{
  position: relative;
}

.table-icon{
  height: 150px;
}

.user-logo .user-icon{
  color: white;
  font-size: 4rem;
  margin: 0 .5rem;
}

.table-diners-information {
  top: 46.5% !important;
  transform: scale(.8);
}

.pedido-select-cliente{
  flex-direction: column;
  text-align: center;
  margin: 0 3rem;
}

.pedido-select-cliente h2{
  margin: .5rem 0;
}

.actions-group{
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}

.actions-group .button{
  background-color: #000;
  color: #fff;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.actions-group .button span{
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions-group .button:nth-child(1){
  background-color: #00E154;
}

.actions-group .button:nth-child(2){
  background-color: #fff;
  color: #000;
}

.actions-group .button:nth-child(3){
  background-color: #FE0202;
  color: #fff;
}

/* default styles */
.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
  background: #000;
  border-radius: 1rem;
}
.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.product-filter-container{
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.product-filter{
  background: #171717;
  border-radius: .5rem;
  padding: 1rem;
  color: #fff;
  width: 250px;
  margin: 0 auto;
  margin: 1.5rem 0;
}

.filter-seatch{
  position: absolute;
  color: #fff;
  right: .5rem;
}

.producto-action{
  position: relative;
}

.producto-action .actions{
  font-size: 2.5rem;
  box-shadow: inset 0 0 15px #000;
  background-color: rgba(0, 225, 84, .6);
  padding: .5rem;
  cursor: pointer;
  margin: 0 auto;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  transition: .35s;
}

.producto-action .actions:hover{
  transform: scale(1.05);
}

@media screen and (min-width: 992px) {
  .pedido-select-cliente{
    width: 600px;
  }

  .cart-data{
    width: 40%;
  }
}