
  <div class="tips-information flexbox">
    <div class="tip-content flexbox">
      <img class="table-icon" src="https://img.icons8.com/ios-filled/75/C8C0B5/table-top-view.png" />
      <p class="tip-description">Disponible</p>
    </div>
    <div class="tip-content flexbox">
      <img class="table-icon" src="https://img.icons8.com/ios-filled/75/024F8B/table-top-view.png" />
      <p class="tip-description">Reservado</p>
    </div>
    <div class="tip-content flexbox">
      <img class="table-icon" src="https://img.icons8.com/ios-filled/75/C70000/table-top-view.png" />
      <p class="tip-description">Ocupado</p>
    </div>
  </div>
  <div class="mat-elevation-z8 grid-table-container" id="mesas-table" *ngIf="dataSource" onload="setReveal()">
    <table mat-table [dataSource]="dataSource" class="full-width-table" matSort matSortStart="desc"
      aria-label="Elements">
      <!-- Columna mesa -->
      <ng-container matColumnDef="mesa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="display: none;">Mesa</th>
        <td mat-cell *matCellDef="let row">
          <div class="table-container" data-aos="zoom-in" data-aos-duration="750">
            <div class="table-content">
              <div class="table-description">
                <p class="table-code "
                  [ngClass]="row.EstadoMesa.descripcion == 'Disponible'? 'bg-available' : row.EstadoMesa.descripcion == 'Reservada'? 'bg-reserved': 'bg-unavailable'">
                  Mesa {{row.codigo}}
                </p>
              </div>
              <img class="table-icon" [src]="row.EstadoMesa.descripcion == 'Disponible'? 
                                            'https://img.icons8.com/ios-filled/150/C8C0B5/table-top-view.png'
                                            : row.EstadoMesa.descripcion == 'Reservada'? 
                                            'https://img.icons8.com/ios-filled/150/024F8B/table-top-view.png'
                                            : 'https://img.icons8.com/ios-filled/150/C70000/table-top-view.png'" />
              <div class="table-diners-information flexbox">
                <i class="fa-solid fa-user diners"></i>
                <p class="diners-quantity">X{{row.capacidad}}</p>
              </div>
              <p class="tag" *ngIf="row.EstadoMesa.descripcion != 'Disponible'"
                [ngClass]="row.EstadoMesa.descripcion == 'Disponible'? 'bg-available' : row.EstadoMesa.descripcion == 'Reservada'? 'bg-reserved': 'bg-unavailable'">
                {{row.EstadoMesa.descripcion}}
              </p>
              <div class="table-configuration-container flexbox">
                <mat-icon class="sidenav-link-icon settings" (click)="detalleMesa(row.id)">info</mat-icon>
                <mat-icon class="sidenav-link-icon settings" (click)="actualizarMesa(row.codigo)">edit</mat-icon>
              </div>
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="9"
      [pageSizeOptions]="[3, 5, 10]" aria-label="Seleccione una pagina" class="mesas-paginator">
    </mat-paginator>
  </div>