<section class="section">
    <h1 class="sucursal-selected">Sucursal San José</h1>
    <div class="tips-information flexbox">
        <div class="tip-content flexbox">
            <img class="table-icon" src="https://img.icons8.com/ios-filled/75/C8C0B5/table-top-view.png" />
            <p class="tip-description">Disponible</p>
        </div>
        <div class="tip-content flexbox">
            <img class="table-icon" src="https://img.icons8.com/ios-filled/75/024F8B/table-top-view.png" />
            <p class="tip-description">Reservado</p>
        </div>
        <div class="tip-content flexbox">
            <img class="table-icon" src="https://img.icons8.com/ios-filled/75/C70000/table-top-view.png" />
            <p class="tip-description">Ocupado</p>
        </div>
    </div>
    <div class="table-container">
        <div class="table-content">
            <div class="table-description">
                <p class="table-code bg-reserved">Mesa TB-1-S4</p>
            </div>
            <img class="table-icon" src="https://img.icons8.com/ios-filled/150/024F8B/table-top-view.png" />
            <div class="table-diners-information flexbox">
                <i class="fa-solid fa-user diners"></i>
                <p class="diners-quantity">X6</p>
            </div>
            <p class="tag bg-reserved">Reservado</p>
            <div class="table-configuration-container">
                <i class="fa-solid fa-gear settings"></i>
            </div>
        </div>
        <div class="table-content">
            <div class="table-description">
                <p class="table-code bg-available">Mesa TB-2-S4</p>
            </div>
            <img class="table-icon" src="https://img.icons8.com/ios-filled/150/C8C0B5/table-top-view.png" />
            <div class="table-diners-information flexbox">
                <i class="fa-solid fa-user diners"></i>
                <p class="diners-quantity">X2</p>
            </div>
            <div class="table-configuration-container">
                <i class="fa-solid fa-gear settings"></i>
            </div>
        </div>
        <div class="table-content">
            <div class="table-description">
                <p class="table-code bg-reserved">Mesa TB-3-S4</p>
            </div>
            <img class="table-icon" src="https://img.icons8.com/ios-filled/150/024F8B/table-top-view.png" />
            <div class="table-diners-information flexbox">
                <i class="fa-solid fa-user diners"></i>
                <p class="diners-quantity">X2</p>
            </div>
            <p class="tag bg-reserved">Reservado</p>
            <div class="table-configuration-container">
                <i class="fa-solid fa-gear settings"></i>
            </div>
        </div>
        <div class="table-content">
            <div class="table-description">
                <p class="table-code bg-unavailable">Mesa TB-4-S4</p>
            </div>
            <img class="table-icon" src="https://img.icons8.com/ios-filled/150/C70000/table-top-view.png" />
            <div class="table-diners-information flexbox">
                <i class="fa-solid fa-user diners"></i>
                <p class="diners-quantity">X4</p>
            </div>
            <p class="tag bg-unavailable">Ocupado</p>
            <div class="table-configuration-container">
                <i class="fa-solid fa-gear settings"></i>
            </div>
        </div>
        <div class="table-content">
            <div class="table-description">
                <p class="table-code bg-available">Mesa TB-5-S4</p>
            </div>
            <img class="table-icon" src="https://img.icons8.com/ios-filled/150/C8C0B5/table-top-view.png" />
            <div class="table-diners-information flexbox">
                <i class="fa-solid fa-user diners"></i>
                <p class="diners-quantity">X4</p>
            </div>
            <div class="table-configuration-container">
                <i class="fa-solid fa-gear settings"></i>
            </div>
        </div>
        <div class="table-content">
            <div class="table-description">
                <p class="table-code bg-unavailable">Mesa TB-6-S4</p>
            </div>
            <img class="table-icon" src="https://img.icons8.com/ios-filled/150/C70000/table-top-view.png" />
            <div class="table-diners-information flexbox">
                <i class="fa-solid fa-user diners"></i>
                <p class="diners-quantity">X4</p>
            </div>
            <p class="tag bg-unavailable">Ocupado</p>
            <div class="table-configuration-container">
                <i class="fa-solid fa-gear settings"></i>
            </div>
        </div>
        <div class="table-content">
            <div class="table-description">
                <p class="table-code bg-unavailable">Mesa TB-7-S4</p>
            </div>
            <img class="table-icon" src="https://img.icons8.com/ios-filled/150/C70000/table-top-view.png" />
            <div class="table-diners-information flexbox">
                <i class="fa-solid fa-user diners"></i>
                <p class="diners-quantity">X4</p>
            </div>
            <p class="tag bg-unavailable">Ocupado</p>
            <div class="table-configuration-container">
                <i class="fa-solid fa-gear settings"></i>
            </div>
        </div>
        <div class="table-content">
            <div class="table-description">
                <p class="table-code bg-reserved">Mesa TB-8-S4</p>
            </div>
            <img class="table-icon" src="https://img.icons8.com/ios-filled/150/024F8B/table-top-view.png" />
            <div class="table-diners-information flexbox">
                <i class="fa-solid fa-user diners"></i>
                <p class="diners-quantity">X4</p>
            </div>
            <p class="tag bg-reserved">Reservado</p>
            <div class="table-configuration-container">
                <i class="fa-solid fa-gear settings"></i>
            </div>
        </div>
    </div>
</section>