/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');


/* ================== VARIABLES CSS =================== */
:root {
    --header_height: 4.5rem;

    /* ================= Colores ================== */
    --hue: 14;
    --first-color: hsl(var(--hue), 91%, 54%);
    --first-color-alt: hsl(var(--hue), 91%, 50%);
    --title-color: hsl(var(--hue), 4%, 100%);
    --text-color: hsl(var(--hue), 4%, 100%);
    --text-color-light: hsl(var(--hue), 5%, 55%);
    --body-color: linear-gradient(90deg, rgba(238, 207, 109, 1) 0%, rgba(213, 172, 78, 1) 40%, rgba(139, 98, 32, 1) 100%);
    --container-color: linear-gradient(180deg, rgba(218, 170, 109, 1) 0%, rgba(201, 152, 78, 1) 40%, rgba(139, 60, 32, 1) 100%);
    --container-color-2: rgb(187, 136, 49);
    --container-color-3: rgba(187, 136, 49, .6);


    /* ============= Fuente y Tipografia ============ */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* =============== Font Weight =========== */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-black: 900;

    /* ============ Margenes Bottom ============== */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /* ==============z-index========= */
    --z-tooltip: 10;
    --z-fixed: 100;

}

/* tipografia responsive */
@media screen and (min-width: 992px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    background: url(assets/images/background.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: var(--header_height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

.grid {
    display: grid;
}


.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    padding: 7rem 1rem 2rem;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button,
input {
    border: none;
    outline: none;
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    padding: 1rem 1.75rem;
    font-weight: var(--font-medium);
    border-radius: .5rem;
    color: var(--title-color);
    cursor: pointer;
}

.button:hover {
    background-color: var(--first-color-alt);
}


/* scroll styles */

::-webkit-scrollbar {
    width: .7rem;
    background: white;
    ;
}

::-webkit-scrollbar-thumb {
    background: #8B0000;
    border-radius: 5rem;
}


/* Sobreescribir estilos a angular material */

/* MAT-MENU */
.mat-menu-panel {
    background-color: rgba(0,0,0, .5);
    animation: emberlight 3s linear infinite alternate;
}

@keyframes emberlight{
    0%{
        box-shadow: inset 0 0 10px #FE0202;
    }
    100%{
        box-shadow: inset 0 0 10px #FE0202,
                inset 0 0 10px #FE0202,
                inset 0 0 10px #FE0202;
    }
}

.mat-menu-content{
    overflow: hidden;
}

.mat-menu-item{
    transition: .5s;
}

.mat-menu-item:hover{
    transform: scale(1.1);
}
