<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="primary">close</mat-icon>
</button>
<div *ngIf="datos">
  <!-- * Es un ejemplo para ayudarlo xd - Atte: Mario -->
  <mat-dialog-content class="mat-dialog-pedido-content">
    <div class="dialogo-content">
      <div class="dialogo-pedido-header flexbox">
        <div class="dialogo-pedido-state">
          <p class="pedido-code">Código {{datos.id}}</p>
          <p class="pedido-state">Pedido {{datos.EstadoPedido.descripcion}}</p>
          <mat-icon class="money-icon">payments</mat-icon>
        </div>
        <div class="dialogo-pedido-total-header">
          <p class="dialogo-pedido-total-header-mesero">Mesero <br> {{datos.Mesero.nombre}} {{datos.Mesero.apellido1}}
            {{datos.Mesero.apellido2}}</p>
          <p class="dialogo-pedido-total-header-total">{{datos.precio | currency: 'CRC':'symbol-narrow'}}</p>
        </div>
      </div>
      <div class="cut-line">
        <p class="dashed-line"></p>
      </div>
      <mat-tab-group animationDuration="1000ms">
        <mat-tab label="Detalle" class="tab">
          <div class="dialogo-pedido-content">
            <div class="dialogo-pedido-detalles flexbox">
              <div class="dialogo-pedido-detalles-data">
                <p class="dialogo-pedido-detalles-data-state">{{datos.EstadoPedido.descripcion}}</p>
                <p class="dialogo-pedido-detalles-data-fecha">{{datos.fecha | date:'dd/MM/yy h:mm:ss a'}}</p>
                <p class="dialogo-pedido-detalles-data-sucursal">{{datos.Sucursal.nombre}}</p>
                <p class="dialogo-pedido-detalles-data-cliente">Cliente <br> {{datos.Cliente.nombre}}
                  {{datos.Cliente.apellido1}} {{datos.Cliente.apellido2}} </p>
                <p *ngIf="datos.idMesa !== null" class="dialogo-pedido-detalles-data-mesa">Mesa
                  {{datos.Mesa.codigo}} <br>
                </p>
                <div *ngIf="datos.idMesa !== null" class="flexbox dialogo-pedido-detalles-data-mesa-capacity">
                  <mat-icon class="person-icon">person</mat-icon>
                  X{{datos.Mesa.capacidad}}
                </div>
                <br><br>
                <p class="dialogo-pedido-detalles-data-total">Total: {{datos.precio | currency: 'CRC':'symbol-narrow'}}
                </p>
              </div>
              <div class="detalle-line flexbox">
                <mat-icon class="material-symbols-outlined">schedule</mat-icon>
                <p class="line"></p>
                <span class="point"></span>
              </div>
            </div>
          </div>
          <mat-select required="true" placeholder="Cambiar estado pedido" title="Lista de sucursales" class="pedido-state-select">
            <mat-option *ngFor="let estado of estadoPedido" [value]="estado.id" (click)=" onChangePedidoEstado(estado.id)">
              {{ estado.descripcion }}
            </mat-option>
          </mat-select>
        </mat-tab>
        <mat-tab label="Productos" *ngIf="datos.detalles.length != 0">
          <div class="dialogo-pedido-productos">
            <table class="pedido-productos-table">
              <thead>
                <tr>
                  <th>Producto</th>
                  <th>Descripción</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                  <th>Notas</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of datos.detalles">
                  <td>
                    <img [src]="item.Producto.imagen" [alt]="item.Producto.nombre" class="dialogo-pedido-productos-img">
                  </td>
                  <td>
                    {{item.Producto.nombre}}
                  </td>
                  <td>
                    {{item.Producto.precio | currency: 'CRC':'symbol-narrow'}}
                  </td>
                  <td>
                    {{item.cantidad}}
                  </td>
                  <td>
                    {{item.notas}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-tab>
        <mat-tab label="Pagar">
          <div class="contenedor">

            <!-- Tarjeta -->
            <section class="tarjeta" id="tarjeta">
              <div class="delantera">
                <div class="logo-marca" id="logo-marca">
                  <!-- <img src="img/logos/visa.png" alt=""> -->
                </div>
                <img src="../../../assets/images/chip-tarjeta.png" class="chip" alt="">
                <div class="datos">
                  <div class="grupo" id="numero">
                    <p class="label">Número Tarjeta</p>
                    <input class="numero" id="numeroTarjeta" type="text" pattern="^[0-9]*$"
                      placeholder="#### #### #### ####" max (input)="inputTarjeta($event)">
                  </div>
                  <div class="flexbox">
                    <div class="grupo" id="nombre">
                      <p class="label">Nombre Tarjeta</p>
                      <p class="nombre">{{datos.Cliente.nombre}}
                        {{datos.Cliente.apellido1}} {{datos.Cliente.apellido2}}</p>
                    </div>

                    <div class="grupo" id="expiracion">
                      <p class="label">Expiracion</p>
                      <p class="expiracion">
                        <input class="mes" id="mesTarjeta" type="text" pattern="^[0-9]*$" placeholder="MM" max="2"
                          (input)="inputFecha($event, 'mesTarjeta')">
                        /
                        <input class="year" id="annoTarjeta" type="text" pattern="^[0-9]*$" placeholder="AA" max="2"
                          (input)="inputFecha($event, 'annoTarjeta')">
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="trasera">
                <div class="barra-magnetica"></div>
                <div class="datos">
                  <div class="grupo" id="firma">
                    <p class="label">Firma</p>
                    <div class="firma">
                      <p></p>
                    </div>
                  </div>
                  <div class="grupo" id="ccv">
                    <p class="label">CCV</p>
                    <input class="ccv" id="ccvTarjeta" type="text" pattern="^[0-9]*$" placeholder="CCV" min="3" max="4"
                      (input)="inputCCV($event)">
                  </div>
                </div>
                <p class="leyenda">Esta tarjeta es intransferible, de uso personal y exclusivo del titular. Su uso queda
                  sujeto a las condiciones y términos estipulados en el contrato.</p>
                <a href="#" class="link-banco">www.crspitsbbq.com</a>
              </div>
            </section>
          </div>
          <div class="pay-actions flexbox">
            <button class="pay-action" (click)="mostrarFrente()">Voltear Tarjeta</button>
            <button class="pay-action">Pagar</button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-dialog-content>
</div>