<form
  [formGroup]="mesasForm"
  novalidate
  (ngSubmit)="isCreate ? crearMesa() : actualizarMesa()"
  data-aos="zoom-in-up"
  data-aos-duration="500"
>
  <!-- ! Campos ocultos -->
  <input type="hidden" formControlName="id" />
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title class="header-title">{{ titleForm }} Mesa</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row" *ngIf="!isCreate">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #capacidadMesa placeholder="Código" formControlName="codigo" readonly="true">
            <mat-error *ngIf="mesasForm.controls['codigo'].hasError('required')">
              El código de la mesa es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #capacidadMesa min="1" max="10" placeholder="Capacidad de la mesa" formControlName="capacidad" type="number">
            <mat-hint align="end">{{capacidadMesa.value }} min 1 / max 10</mat-hint>
            <mat-error *ngIf="mesasForm.controls['capacidad'].hasError('required')">
              La capacidad de la mesa es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <!-- ! Single -->
        <div class="col" *ngIf="sucursalesList">
          <mat-form-field class="full-width">
            <mat-select placeholder="Sucursal de la mesa" formControlName="idSucursal">
              <mat-option *ngFor="let sucursal of sucursalesList" [value]="sucursal.id">
                {{ sucursal.nombre }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="mesasForm.controls['idSucursal'].hasError('required')">
              La sucursal es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col" *ngIf="disponibilidadesList">
          <mat-form-field class="full-width">
            <mat-select placeholder="Disponibilidad de la mesa" formControlName="idDisponibilidad">
              <mat-option *ngFor="let disponibilidad of disponibilidadesList" [value]="disponibilidad.id">
                {{ disponibilidad.descripcion }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="mesasForm.controls['idDisponibilidad'].hasError('required')">
              La disponibilidad de la mesa es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-label>Estado</mat-label>
          <mat-radio-group formControlName="estado">
            <mat-radio-button class="radio-button" [value]="true">Habilitado</mat-radio-button>
            <mat-radio-button class="radio-button" [value]="false">Deshabilitado</mat-radio-button>            
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
    <mat-button-toggle-group class="actions-group" name="fontStyle" aria-label="Font Style">
      <button mat-raesed-button type="submit" title="Guardar">
        <mat-icon class="actions">save</mat-icon>
      </button>
      <mat-button-toggle *ngIf="isCreate" (click)="onReset()" title="Limpiar">
        <mat-icon class="actions">cleaning_services</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle (click)="onBack()" title="Cancelar">
        <mat-icon class="actions">cancel</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card>
</form>
