.full-width-table {
    width: 100%;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }

  .product-data p{
    margin: .35rem .75rem;
  }

  .reserve-date{
    padding: 1rem;
    background-color: #007241;
    font-size: 1.2rem;
  }