<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="primary">close</mat-icon>
</button>
<div *ngIf="datos">
  <!-- * Es un ejemplo para ayudarlo xd - Atte: Mario -->

  <mat-dialog-content>
    <div class="dialogo-content">
      <h2 mat-dialog-title class="dialogo-prodcuto-title">Código {{ datos.id }}</h2>
      <div class="dialogo-prodcuto-img">
        <img class="product-img" [src]="datos.imagen" />
      </div>
      <div class="product-data">
        <p>{{datos.nombre}}</p>
        <p><span>Precio <br></span>₡{{datos.precio}}</p>
        <p><span>Descripción <br> </span>{{datos.descripcion}}</p>
        <p *ngIf="datos.ingredientes.length != 0"><span>Ingredientes <br></span> {{datos.ingredientes}}</p>
      </div>
      <div class="dialogo-prodcuto-sucursales" *ngIf="datos.sucursales_producto && datos.sucursales_producto.length != 0">
        <h3 class="sucursales-title">Sucursales donde se ofrece</h3>
        <div class="dialog-prodcuto-sucursal" *ngFor="let item of datos.sucursales_producto">
          <p>{{item.Sucursal.nombre}}</p>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>