<div class="about-company-container flexbox">
    <div class="about-company-images">
        <img src="../../../assets/images/logo.png" alt="" class="about-img">
    </div>    
    <div class="about-company-description">
        <p class="about-description">
            CR Spits & BBQ es un restaurante especializado en parrilladas, carnes BBQ y hamburguesas, el cual dispone de varias sucursales a lo largo y ancho de Costa Rica. Estamos ubicados cerca del parque Tomás Guardia en Alajuela, por avenida 2 Alfaro Ruíz, calle 4 Maravilla, teléfono +506 2346-6472, dirección de correo electrónico infocrspits@crspits.cr.com. Todos los derechos están reservados CR Spits & BBQ 2022©.
        </p>
    </div>            
</div>
