.header {
    width: 100%;
    position: fixed;
    left: 0;
    top: -20%;
    z-index: 1000;
    transition: .4s;
    animation: show-header .8s ease-in-out forwards;
    animation-delay: 0;
    padding-top: 2rem;
}

@keyframes show-header {
    100% {
        top: 0;
    }
}


.scrolling-header{
    background-color: #000;
    height: 18vh;
    z-index: 100000;
}

/* ======================= NAV =================== */

.nav {
    height: var(--header_height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* ocultar el nav */
.hide-nav{
    display: none;
}


.nav_logo {
    position: relative;
}

.nav_logo-img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    filter: drop-shadow(0 2px 5px rgba(201, 110, 98, 1));
    position: relative;
}

/* .snowflake {
    background: var(--title-color);
    width: 1px;
    height: 1px;
    padding: 2px;
    position: absolute;
    left: 25%;
    bottom: 100%;
    border-radius: 50%;
    opacity: 0;
    animation: snowing 3.5s linear infinite both;
}

.snowflake:nth-child(2) {
    left: 35%;
    animation-delay: 3s;
}

.snowflake:nth-child(3) {
    left: 45%;
    animation-delay: 1.5s;
}

.snowflake:nth-child(4) {
    left: 55%;
    animation-delay: .8s;
}

.snowflake:nth-child(5) {
    left: 65%;
    animation-delay: 1.8s;
}

.snowflake:nth-child(6) {
    left: 75%;
    animation-delay: 2.5s;
}

.snowflake:nth-child(2),
.snowflake:nth-child(4),
.snowflake:nth-child(6) {
    padding: 1px;
}

@keyframes snowing {
    from {
        opacity: 15%;
        bottom: 90%;
    }

    5% {
        opacity: 1;
    }

    65% {
        opacity: 0;
    }

    to {
        bottom: calc(100% - 106px);
    }
} */

.nav_link,
.nav_logo,
.nav_close,
.nav_toggle {
    color: var(--title-color);
    cursor: pointer;
}

.index_close {
    top: 1rem;
    right: 1rem;
    position: absolute;
    font-size: 3rem;
}

.nav_toggle {
    cursor: pointer;
    font-size: 2rem;
    transition: .4s;
}

.nav_toggle:hover,
.nav_close:hover {
    transform: scale(1.1);
}

.social-container{
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}

.nav-social-media {
    position: absolute;
    height: 100vh;
    width: 5%;
    right: -50%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: show-social-panel 1.5s ease-in-out forwards;
    z-index: 10000;
}


.nav-social-media i {
    color: #fff;
    display: block;
    margin: 1.25rem 0;
    font-size: 1rem;
    transition: .4s;
}

.nav-social-media i:hover {
    transform: scale(1.25);
    margin: 2rem;
}

@keyframes show-social-panel {
    100% {
        right: 0;
    }
}

.line{
    opacity: 0;
    animation: show-line 1s ease-in-out forwards;
    animation-delay: 1.5s;
    height: 0;
    margin: 1rem;
}

@keyframes show-line{
    100% {
        height: 125px;
        opacity: 1;
    }
}

.nav_close-filter {
    font-size: 3rem;
    position: absolute;
    top: .5rem;
    right: .7rem;
    cursor: pointer;
    transition: .4s;
}

.nav_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

.nav_link {
    text-transform: uppercase;
    font-weight: var(--font-black);
    transition: .4s;
}

.nav_item {
    transition: .4s;
}

.nav_item:active {
    transform: scale(.85);
}

.nav_link:hover {
    color: hsl(var(--hue), 4%, 80%);
}

.divisor {
    width: 100%;
    height: 2px !important;
    color: var(--title-color);
}

/* mostrar menu */
.show-menu {
    right: 0;
    overflow-y: scroll;
}

/* cambiar header */
.scroll-header {
    transition: .4s linear;
    background: var(--container-color-2);
    border-radius: .1rem;
}

.scroll-header .nav_logo-img {
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 1));
}

.user-icon {
    font-size: 2.5rem;
    position: relative;
    color: #FFF;
    overflow: visible;
}

.mat-menu-user-icon{
    font-size: 1.5rem;
}

.mat-menu-description{
    font-size: 1rem;
    font-weight: bold;
}

.mat-menu-user-icon, .mat-menu-description, .user-logged, .user-logged-email{
        color: #FFF;
        letter-spacing: .05rem;
}

.user-logged-email{
    display: block;
    width: 100%;
    text-align: center;
    font-size: .75rem;
    padding-bottom: 0.5rem;
    border-bottom: 4px dashed #fff;
}

.login{
    border: 2px solid;
    background-color: transparent;
    border-radius: 3rem;
    
}

.login:hover{
    color: var(--title-color);
    box-shadow: 0 0 2px 2px;
}


/* ======= DISPOSITIVOS PEQUEÑOS ========== */
@media screen and (max-width: 320px) {

    /* styles here  */

}


/* ======= DISPOSITIVOS MEDIANOS ========== */
@media screen and (min-width: 576px) {
    /* styles here  */
}

@media screen and (max-width: 767px) {
    .flexbox {
        flex-direction: column;

    }

    .nav_menu{
        position: fixed;
        width: 100%;
        background: var(--container-color);
        top: 0;
        right: -150%;
        padding: 3.5rem 0;
        transition: .8s;
        z-index: var(--z-fixed);
        border: 0 0 15px 15px;
        height: 100vh;
    } 

    .nav_list{
        font-size: var(--h1-font-size);
    }

    .nav-social-media{
        display: none;
    }
}

@media screen and (min-width: 767px) {

    .nav_close,
    .nav_toggle,
    .divisor {
        display: none;
    }

    .nav {
        max-width: 90%;
        margin: 0 2rem;
    }

    .nav_list {
        flex-direction: row;
        column-gap: 2.2rem;
        font-size: .9rem;       
    }

    .nav_link,
    .nav_item {
        transition: .4s;
    }

    .nav_item:hover{
        transform: scale(1.15);
    }

    .nav_item:active {
        transform: none;
    }

    .login {
        transition: .4s;
    }

    .nav_link {
        text-transform: initial;
        font-weight: initial;
    }

    .show-menu {
        overflow: hidden;
    }

    .loginIcon {
        font-size: 1rem;
    }

    .scrolling-header{
        height: 16vh;
    }
}

/* ======= DISPOSITIVOS GRANDES ========== */
@media screen and (min-width:992px) {

    .nav_link {
        font-size: var(--h2-font-size);
    }

    .nav_list {
        padding-top: 2rem;
    }

    .nav-social-media i {
        font-size: 2rem;
    }

    .nav_logo-img{
        width: 6rem;
        height: 6rem;
        top: 1rem;
    }
}