.statistics-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    width: 80%;
    margin: 3rem auto;
}

.statistic-card{
    border-radius: .7rem;
    padding: 0rem 0rem 1rem;
    overflow: hidden;
    text-align: center;
    color: #fff;
    height: 150px;
    box-shadow: inset 0 0 10px #000;
    transition: all .5s ease-in-out;
}

.statistic-box{
    background: rgba(155, 0, 0, .5);
    border-radius: 0 0 .7rem .7rem;
}

.statistic-card:hover{
    transform: scale(1.05);
}

.statistic-card:nth-child(even) .statistic-box{
    background: rgba(23, 23, 23, .8);
}

.statistic-card:nth-child(even) .statistic-card-title{
    background-color: #171717;   
}

.statistic-card-title{
    padding: .5rem 0;
    background-color: #8B0000;
    box-shadow: inset 0 0 10px #000;
}

.statistic-card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 100px;
}

.statistic-card-qty{
    font-size: 2rem;
    font-weight: bolder;
}

.statistic-card-content .statistic-card-icon{
    margin: 0 .5rem;
    width: 40px;
    height: 40px;
    font-size: 2rem;
}

/* @media screen and (min-width: 576px) {
    .statistics-container{
        grid-template-columns: repeat(2, 1fr);
    }
} */

@media screen and (min-width: 767px) {
    .statistics-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .statistics-container{
        grid-template-columns: repeat(4, 1fr);
    }
}