    <section class="section containerM">
        <div class="swiper home-swiper">
            <div class="swiper-wrapper">
                <section class="swiper-slide">
                    <div class="home_content flexbox">
                        <div class="home_group">
                            <img class="home_img" src="../../../assets/images/products/Filete.png" alt="" />
                            <div class="home_indicator"></div>

                            <div class="home_details-img">
                                <h4 class="home_details-title">Filete BBQ</h4>
                                <span class="home_details-subtitle">100% sabor original</span>
                            </div>
                        </div>

                        <div class="home_data">
                            <h3 class="home_subtitle">Comida especial de CR Spits & BBQ</h3>
                            <h1 class="home_title">Disfruta al máximo su sabor</h1>
                            <p class="home_description">Ordena tus alimentos ahora mismo. Inicia sesión y comienza a
                                disfrutar de tu comida favorita.</p>

                            <div class="home_buttons">
                                <a href="#" class="button" style="display: inline-block">
                                    <p class="home_button-text">Ordena ya</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="swiper-slide">
                    <div class="home_content flexbox">
                        <div class="home_group">
                            <img class="home_img" src="../../../assets/images/products/pincho.png" alt="" />
                            <div class="home_indicator"></div>

                            <div class="home_details-img">
                                <h4 class="home_details-title">Pincho de cerdo</h4>
                                <span class="home_details-subtitle">Variedad de sabor</span>
                            </div>
                        </div>

                        <div class="home_data">
                            <h3 class="home_subtitle">Comida especial de CR Spits & BBQ</h3>
                            <h1 class="home_title">Variedad de sabores</h1>
                            <p class="home_description">Ordena tus alimentos ahora mismo. Inicia sesión y comienza a
                                disfrutar de tu comida favorita.</p>

                            <div class="home_buttons">
                                <a href="#" class="button" style="z-index: 3; display: inline-block">
                                    <p class="home_button-text">Ordena ya</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="swiper-slide">
                    <div class="home_content flexbox">
                        <div class="home_group">
                            <img class="home_img" src="../../../assets/images/products/Costilla.png" alt="" />
                            <div class="home_indicator"></div>

                            <div class="home_details-img">
                                <h4 class="home_details-title">Costilla de cerdo</h4>
                                <span class="home_details-subtitle">Crujiente y deliciosa</span>
                            </div>
                        </div>

                        <div class="home_data">
                            <h3 class="home_subtitle">Comida especial de CR Spits & BBQ</h3>
                            <h1 class="home_title">100% sabor tico</h1>
                            <p class="home_description">Ordena tus alimentos ahora mismo. Inicia sesión y comienza a
                                disfrutar de tu comida favorita.</p>

                            <div class="home_buttons">
                                <a href="#" class="button" style="display: inline-block">
                                    <p class="home_button-text">Ordena ya</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>